<div class="container mt-5 text-center">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card" style="width: 17rem;">
        <img src="assets/teams/best.JPG.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นาย โชติวัฒน์ ยศไธสง</h5>
          <p class="card-text">ปวส.1/5</p>
          <a href="#" class="btn btn-primary">เบสหลอน</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <img src="assets/teams/kla2.JPG.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นาย กฤตชัย ไกรโสภา</h5>
          <p class="card-text">ปวส.1/5</p>
          <a href="#" class="btn btn-primary">กล้าFc</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 30rem;">
        <img src="assets/teams/BOM1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นาย อภิชิต แพร่สาร</h5>
          <p class="card-text">ปวส.1/5</p>
          <a href="#" class="btn btn-primary">บอมส์เบ</a>
        </div>
      </div>
    </div>
  </div>
</div>